<section class="indent">
    <fieldset>
        <legend>Create a new post:</legend>
        <%= form_with model: @post, url: user_posts_path, method: :post, local: true, scope: :post do |form| %>
            <div class="form">
                <%= form.label :title %>
                <%= form.text_field :title %>
            </div>
            <div class="form">
                <%= form.label :text %>
                <%= form.text_area :text, size: "60x12" %>
            </div>
            <div class="form">
                <%= form.submit "Post" %>
            </div>
        <% end %>
    </fieldset>
</section>
