<%= render 'layouts/header' %>
<section class="bordered indent">
    <div class="post-stats">
        <span>Post <%= @post.id %> by <%= @post.author.name %></span>
        <span>Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></span>
    </div>
    <div class="post">
        <%= @post.text %>
        <br><br>
        <div>
            <%= render 'comments/form' %>
            <%= render 'likes/like' %>
        </div>
    </div>
    <hr class="separator">
    <ul class= "list">
        <% @post.comments.each do |comment| %>
            <li> <%= comment.author.name %>: <%= comment.text %> </li>
        <% end %>
    </ul>
</section>

