<section class="bordered">
    <div class="post-info">
        <span>Post <%= @post.id %> by <%= @post.author.name %></span>
        <span>Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></span>
    </div>
    <div class="post">
        <%= @post.text %>
    </div>
</section>
<div class="bordered">
    <ul class= "list">
        <% @post.comments.each do |comment| %>
            <li> <%= comment.author.name %>: <%= comment.text %> </li>
        <% end %>
    </ul>
</div>
