<button class="cancel-btn link indent">
        <%= link_to 'All posts', user_posts_path, style: 'color: black; text-decoration: none;' %>
</button>
<h3 class="indent"><%= @post.title %></h3>
<section class="bordered indent">
    <div class="post-stats">
        <span>Post <%= @post.id %> by <%= @post.author.name %></span>
        <span>Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></span>
    </div>
    <div class="post">
        <%= @post.text %>
        <br><br>
        <div class="post-actions">
            <button class="cancel-btn link">
                <%= link_to 'Add Comment', new_user_post_comment_path(@post.author, @post), style: 'color: black; text-decoration: none;' %>
            </button>
            <%= render 'likes/like' %>
        </div>
    </div>
    <hr class="separator">
    <ul class= "list">
        <% @post.comments.includes(:author).each do |comment| %>
            <li> <%= comment.author.name %>: <%= comment.text %> </li>
        <% end %>
    </ul>
</section>

